* {
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #941a69;
    margin: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 320px;
    margin: auto;
    background: #d9f104c4;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(255, 255, 255);
}

h1 {
    text-align: center;
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 300px;
    padding: 11px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 323px;
    padding: 11px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.senha-container {
    position: relative;
}
.mostrar-senha {
    position: absolute;
    right: -1px;
    top: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10; /* Garante que o ícone fique na frente */
    background: rgba(26, 20, 2, 0.411); /* Adiciona um fundo semi-transparente */
    padding: 2px;
    border-radius: 6px;
}

#character-person {
    max-width: 100%; /* Faz a imagem ser responsiva */
    position: relative;
    top: -356px;
    right: -800px;
    
    
}

input:focus {
    outline: #CA2C92 1px solid;
}

button {
    background-color: #CA2C92;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-top: 10px;
     transition: background-color 0.2s, transform 0.2s; /* Transição suave de 0.3 segundos para background-color e transform */
}

button:hover {
    transform: scale(1.06); /* Aumenta ligeiramente o botão ao passar o mouse */
    background-color: #b92067;
}

@media (max-width: 700px) {

    * {
        font-size: 20px;
    }


    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #941a69;
        box-sizing: border-box;
    }

    .container {
        padding: 80px 50px 80px 10px;
        width: 300px;
        height: 400px;
        
    }
    
    label {
        margin-left: 12px;
    }

    input {
        width: 300px;
        height: 30px;
        margin-left: 10px;
    }

    button {
        width: 323px;
        margin-left: 10px;
        height: 60px;
    }

    .mostrar-senha {
        position: absolute;
        right: -32px;
        top: 16px;
    }


    #character-person{
        display: none;
    }
}

    


